.footer {
  background-color: #f8f9fa;
  display: flex;
  flex: initial;
  width: auto;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}
.footer-container {
  display: flex;
  margin: auto;
}
.my-5 {
  background-color: #d3d3d3 !important;
}
#top {
  background-color: #f8f9fa !important;
}
.btn:hover {
  background-color: #af0000 !important;
  border: #af0000 !important;
}

.btn-default {
background-color: #d32d26;
border-color: #d32d26;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
background-color: #d32d26;
border-color: #d32d26;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
}
.navbar-dark {
  background-color: #d32d26 !important;
}
